<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <h3>영화 목록</h3>
    <table class="movieTable">
        <tr>
            <td>영화제목</td>
            <td>개봉날짜</td>
            <td>평점</td>
            <td>감독</td>
        </tr>
        {% for movie in data_list %}
        <tr>
            <td>{{ movie[0] }}</td>
            <td>{{ movie[1] }}</td>
            <td>{{ movie[2] }}</td>
            <td>{{ movie[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    
    <div class="formDiv">
        <div>
            <form action="/search" method="GET" name="searchForm">
                <select name="searchType" id="searchType">
                    <option value="movieName">제목</option>
                    <option value="director">감독</option>
                </select>
                <input type="search" name="keyword" id="keyword">
                <button id="searchBtn" onclick="search()" type="button">검색</button>
            </form>   
        </div>
        <script>
            var keyword = document.getElementById("keyword");
            function search(){                
                if(keyword.value == ""){
                    alert("검색어를 입력해주세요");
                    keyword.focus();
                }
                else{
                    searchForm.submit();
                }
            }
        </script>
        <div>
            <form action="/sort" method="get">
                <select name="sort" id="sort" onchange="this.form.submit()">
                    <option value="">정렬</option>
                    <option value="desc">평점 높은순</option>
                    <option value="asc">평점 낮은순</option>
                </select>
            </form>
        </div>
    </div>
</body>
</html>