<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="movieTable">
        <tr>
            <td>영화제목</td>
            <td>개봉날짜</td>
            <td>평점</td>
            <td>감독</td>
        </tr>                                                
        <tr *ngFor="let movie of movies">       <!-- <1> -->
            <td>{{movie.movieName}}</td>
            <td>{{movie.date}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.director}}</td>
        </tr>
        <!-- <tr>                                <2>
            <td>{{movie.movieName}}</td>
            <td>{{movie.date}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.director}}</td>
        </tr> -->
        <!-- <tr *ngFor="let list of data">      <3>
            <td>{{list.movieName}}</td>
            <td>{{list.date}}</td>
            <td>{{list.rating}}</td>
            <td>{{list.director}}</td>
        </tr> -->
    </table>
</body>
</html>